.modal-title {
  font-weight: 600;
  font-size: 22px;
}

.css-1wnsr1i {
  width: 800px !important;
  left: 56% !important;
  top: 30% !important;
}

.input-div {
  padding-top: 50px;
  padding-right: 50px;
  width: 50%;
}
